#si-206 img {
    width: 300px;
    height: auto;
}

#experience div {
    display: inline-block;
    width: 40%;

}

#amazon {
    margin-left: 5%;
}

#si-206 {
    margin-left: 10%;
}

#ari {
    margin-left: 5%;
    margin-top: 5%;
}

@media only screen and (max-width: 750px) {
    #experience div {
        text-align: center;
        display: block;
        width: 60%;
        margin-left: 20%;
    }

    #experience > div > p {
        text-align: left;
    }
}
