.portfolio {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.light {
    background-color: white;
}

.light .intro {
    color: black;
}

.dark {
    background-color: black;
}

.dark .intro {
    color: white;
}

.light > #theme-button {
    background-color: white;
    color: black;
}

.dark > #theme-button {
    background-color: grey;
    color: white;
}
