#resume p {
    text-align: center;
    font-size: 18px;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 35%;
    height: 80vh;
}

#resume a:hover {
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    iframe {
        width: 50%;
    }
}

@media only screen and (max-width: 750px) {
    iframe {
        width: 75%;
    }
}