#skills > div {
    margin-left: 45%
}

#skills > div > p > div {
    margin-bottom: 15px;
}

.software-tools > h2 {
    margin-top: 50px;
}

.languages > h2 {
    margin-top: 50px;
}

@media only screen and (max-width: 750px) {
    #skills > div {
        margin-left: 25%;
    }
}